.site-content {
    margin: 2rem auto;
    max-width: 73.125rem;

    .entry-container {
        margin-top: 2rem;

        .story-content {
            float: right;
            width: 78.125%;
        }
    
        .widget-area {  
            float: left;
            width: 20.1171875%;
        }
    }
}