.single-post {
    .content-area {
        line-height: 1.7rem;

        .entry {

            &__header {

            }

            &__title {
                margin: 0;
                padding: 0;
            }
        }

        .entry-content {
            font-size: 14px;
        }
    }
}