.single-post {
    .content-area {
        line-height: 1.7rem;

        .entry-header {

            .entry-metadata {
                font-size: 14px;
                margin-top: 0.5rem;
            }
        }

        .entry-content {
            font-size: 14px;
        }
    }
}