////
/// Set up and define fonts.
///
/// @group  Fonts
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://github.com/benlumia007/benlu
////

/// Returns a map of font families in name-value format.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined font families.

@function font-families() {

	@return (
		heading: var( --font-family-heading, 'Fira Sans', sans-serif ),
		primary: var( --font-family-primary, 'Merriweather', serif ),
		date:    var( --font-family-date, 'Tangerine', cursive ),
		code   : #{'Source Code Pro', Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace}
	);
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Font familiy name.
/// @return {string}         Font family value.

@function font-family( $name ) {

	@return map-get( font-families(), $name );
}