@media screen and (max-width: 768px) {
	.menu-toggle {
		background: #000000;
		border: none;
		bottom: 1.125rem;
		color: #ffffff;
		font-family: font-family(primary);
		left: 1.125rem;
		padding: 0.5rem 1rem;
		position: fixed;
		z-index: 9999;
	}

	.menu__items {
		left: -99999rem;
		position: absolute;
	}

	.toggled {
		.primary-menu {
			.menu__items {
				background: #000000;
				bottom: 3.5rem;
				display: block;
				left: 1.125rem;
				margin: 0;
				padding: 0;
				position: fixed;
				right: 1.125rem;
				z-index: 9998;

				.menu__item {
					list-style-type: none;
					margin: 0.5rem;
					padding: 0.5rem;
					position: relative;

					a {
						color: #ffffff;
						text-decoration: none;
					}

					.dropdown-toggle {
						background: transparent;
						border: none;
						margin: 0;
						padding: 0;
						position: absolute;
						right: 1.250rem;
						top: 0.75rem;

						.arrow {
							display: inline-block;
							width: 0;
							height: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 6px solid #ffffff;
							margin-left: 0.5rem;
							transition: transform 0.3s ease;
						}
					}

					.sub-menu {
						display: none;
						list-style-type: none;
						margin: 0;
						padding: 0.5rem 0 0 1rem;
						position: relative;
					}

					&.toggled-on {
						.sub-menu {
							display: block;
							background: transparent;
						}

						.dropdown-toggle {
							.arrow {
								transform: rotate(180deg);
								border-top: 6px solid #ffffff;
							}
						}
					}
				}
			}
		}
	}
}




@media screen and ( min-width: 769px ) {
	.primary-menu {
		margin: 0;
		padding: 0.6rem;

		.menu-toggle {
			display: none;
		}

		.menu__items {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: static;
			justify-content: flex-start;

			.menu__item {
				left: unset;
				position: relative;
				width: max-content;

				&:hover {
					color: #ffffff;
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 4px;
				}

				&.has-children {
					> {
						a {
							position: relative;
				
							&:after {
								content: '';
								display: inline-block;
								margin-left: 0.5rem;
								vertical-align: middle;
								border-left: 4px solid transparent;
								border-right: 4px solid transparent;
								border-top: 4px solid #000000; // arrow color
							}
						}
					}
				}

				&.current-menu__item {
					a {
						color: #000000;
						font-weight: bold;
						padding: 0.5rem 1rem;
					}

					.sub-menu {
						.menu__item {
							a {
								color: #ffffff;
								padding: 0.5rem 1rem;
								text-decoration: none;
								text-decoration-thickness: 0;
								text-underline-offset: 0;
							}
						}
					}
				}

				a {
					color: #000000;
					padding: 0.5rem 1rem;
					text-decoration: none;

					&:first-child {
						padding-left: 0;
						padding-right: 1rem;
					}
				}

				.dropdown-toggle {
					display: none;
				}

				.sub-menu {
					background: #000000;
					left: 0;
					list-style-type: none;
					margin: 0.5rem 0;
					opacity: 0;
					padding: 0.250rem;
					position: absolute;
					transform: translateY( -1em );
					visibility: hidden;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

					.menu__item {
						padding: 0.5rem;

						a {
							color: #ffffff;
						}

						&:last-child {
							margin: 0;
						}
					}
				}

				&:hover,
				&:focus-within,
				&.focus {
					.sub-menu {
						left: 0;
						visibility: visible; /* shows sub-menu */
						opacity: 1;
						z-index: 1;
						transform: translateY( 0% );
						transition-delay: 0s, 0s, 0.3s
					}
				}
			}
		}
	}
}