.single-post {

	.content-area {
		line-height: 1.7rem; 

		.entry {

			&__header {
				margin: 1rem 0;

			}

			&__title {
				margin: 0;
				padding: 0;
			}

			&__metadata {
				margin-top: 0.5rem;
			}
		}

		.post-thumbnail {
			.size-inheritance-landscape-medium,
			.size-inheritance-landscape-large {
				display: block;
				border-radius: 0.5rem;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
				margin-left: auto;
				margin-right: auto;
			}
		}

		.entry-content {
			margin: 0 auto;
			max-width: 600px;
		}
	}
}